.profile__avatar {
  position: relative;
  max-width: 120px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

@media screen and (max-width: 1044px) {
  .profile__avatar {
    width: calc(120 / 282 * 100%);
  }
}
