/* Fonts & third-party styles */
@import url("../vendor/normalize.css");
@import url("../fonts/inter/inter.css");

/* Section non-specific styles */
/* page.css */
.page {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* logo.css */
.logo {
  width: 173px;
}

/* add-button.css */
.add-button {
  margin-left: auto;
  position: relative;
  min-width: 150px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 2px;
  transition: opacity .25s linear;
  cursor: pointer;
  background-image: url("../images/icon-add.svg");
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.add-button:hover {
  opacity: .6;
}

/* edit-button.css */
.edit-button {
  display: flex;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  box-sizing: border-box;
  border: 1px solid white;
  transition: opacity .25s linear;
  cursor: pointer;
  background-image: url("../images/icon-edit.svg");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-button:hover {
  opacity: .6;
}

/* like-button.css */
.like-button {
  position: relative;
  background-image: url("../images/icon-heart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  height: 19px;
  width: 21px;
  transition: opacity .25s linear;
  cursor: pointer;
}

.like-button:hover {
  opacity: .5;
}

.like-button_active {
  background-image: url("../images/icon-heart_filled.svg");
}

/* Section specific styles */
/* Section: Header */
/* header.css */
.header {
  position: relative;
  width: 100%;
}

/* header__container.css */
.header__container {
  position: relative;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  margin: 0 auto;
  padding: 45px 0 41px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.header__container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .7;
  border-bottom: 1px solid #545454;
}

/* Section: Profile */
/* profile.css */
.profile {
  position: relative;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  margin: 40px auto 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* profile__avatar.css */
.profile__avatar {
  width: 120px;
  border-radius: 100%;
  margin-right: 30px;
}

/* profile__info.css */
.profile__info {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  box-sizing: border-box;
}

/* profile__header.css */
.profile__header {
  display: flex;
  align-items: center;
}

/* profile__name.css */
.profile__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  margin: 0 18px 0 0;
}

/* profile__job.css */
.profile__job {
  font-size: 18px;
  line-height: calc(22 / 18);
  margin: 0;
}

/* Section: Places */
/* places.css */
.places {
  margin: 50px auto 0;
  width: calc(100% - 2 * 200px);
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
}

/* place.css */
.place {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  max-width: 100%;
  max-height: 361px;
  background-color: white;
  overflow: hidden;
}

/* place__image.css */
.place__image {
  max-width: 282px;
  display: block;
  margin-bottom: 25px;
}

/* place__container.css */
.place__container {
  margin: auto auto 31px;
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* place__caption.css */
.place__caption {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Section: Footer */
/* footer.css */
.footer {
  margin: 68px auto 60px;
  width: calc(100% - 2 * 200px);
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
}

/* footer__copyright.css */
.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
}

/* Section: Edit Form */
/* edit-container.css */
.edit-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  content: "";
  opacity: .5;
}

/* edit-form.css */
.edit-form {
  position: relative;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: calc(430 / 1280 * 100%);
  max-width: 430px;
  height: calc(330 / 720 * 100%);
  max-height: 330px;
  z-index: 1;
}

/* edit-form__container.css */
.edit-form__container {
  margin: 34px 36px;
  display: flex;
  flex-direction: column;
}

/* edit-form__title.css */
.edit-form__title {
  margin: 0 0 50px 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
}

/* edit-form__text-input.css */
.edit-form__text-input {
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.edit-form__text-input:last-of-type {
  margin-bottom: 48px;
}

/* edit-form__submit-btn.css */
.edit-form__submit-btn {
  border: none;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 1.57;
  font-weight: normal;
  height: 50px;
  cursor: pointer;
  transition: opacity .25s linear;
}

.edit-form__submit-btn:hover {
  opacity: .8;
}

/* edit-form__close-btn.css */
.edit-form__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .25s linear;
}

.edit-form__close-btn:hover {
  opacity: .6;
}
