/* Fonts & third-party styles */
@import url("../vendor/normalize.css");
@import url("../fonts/inter/inter.css");

/* Section non-specific styles */
/* page.css */
.page {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* logo.css */
.logo {
  width: 173px;
}

/* add-button.css */
.add-button {
  margin-left: auto;
  position: relative;
  min-width: 150px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 2px;
  transition: opacity .25s linear;
  cursor: pointer;
}

.add-button:hover {
  opacity: .6;
}

/* add-button__icon.css */
.add-button__icon {
  width: 22px;
  margin: 0 auto;
}

/* edit-button.css */
.edit-button {
  display: flex;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  box-sizing: border-box;
  border: 1px solid white;
  transition: opacity .25s linear;
  cursor: pointer;
}

.edit-button:hover {
  opacity: .6;
}

/* add-button__icon.css */
.edit-button__icon {
  margin: auto;
  width: 10px;
}

/* like-button.css */
.like-button {
  position: relative;
  background-image: url("../images/icon-heart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  height: 19px;
  width: 21px;
  transition: opacity .25s linear;
  cursor: pointer;
}

.like-button:hover {
  opacity: .5;
}

.like-button_active {
  background-image: url("../images/icon-heart_filled.svg");
}

/* Section specific styles */
/* Section: Header */
/* header.css */
.header {
  position: relative;
  width: 100%;
}

/* header__container.css */
.header__container {
  position: relative;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  margin: 0 auto;
  padding: 45px 0 41px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.header__container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .7;
  border-bottom: 1px solid #545454;
}

/* Section: Profile */
/* profile.css */
.profile {
  position: relative;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  margin: 40px auto 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* profile__avatar.css */
.profile__avatar {
  width: 120px;
  border-radius: 100%;
  margin-right: 30px;
}

/* profile__info.css */
.profile__info {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  box-sizing: border-box;
}

/* profile__header.css */
.profile__header {
  display: flex;
  align-items: center;
}

/* profile__name.css */
.profile__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  margin: 0 18px 0 0;
}

/* profile__subline.css */
.profile__subline {
  font-size: 18px;
  line-height: calc(22 / 18);
  margin: 0;
}

/* Section: Places */
/* places.css */
.places {
  margin: 50px auto 0;
  width: calc(100% - 2 * 200px);
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
}

/* place.css */
.place {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  max-width: 100%;
  max-height: 361px;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

/* place__image.css */
.place__image {
  max-width: 282px;
  display: block;
  margin-bottom: 25px;
}

/* place__container.css */
.place__container {
  margin: auto auto 31px;
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* place__caption.css */
.place__caption {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  resize: horizontal;
}

/* Section: Footer */
/* footer.css */
.footer {
  margin: 68px auto 60px;
  width: calc(100% - 2 * 200px);
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
}

/* footer__copyright.css */
.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
}
